<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
</head>
<body>
<header>
    <h1>Welcome to airbnb</h1>
    <h2>Here are our registered homes :</h2>
    <ul>
        <% registeredHomes.forEach(home => { %>
            <li>
                <%= home.houseName%>
            </li>
        <% })%>
    </ul>
</header>
<main>
    <a href="/host/add-home">Add Home</a>
</main>
</body>
</html>